[submodule "src/less"]
  path = src/less
  url = https://github.com/less/less.js.git
  branch = master
[submodule "src/closure-templates"]
  path = src/closure-templates
  url = https://github.com/adamjmcgrath/closure-templates.git
  branch = master
[submodule "src/growjs"]
  path = src/growjs
  url = https://github.com/adamjmcgrath/growjs.git
  branch = master
[submodule "src/twitter-bootstrap"]
  path = src/twitter-bootstrap
  url = https://github.com/twbs/bootstrap.git
  branch = master
[submodule "submodules/closure-library"]
  path = submodules/closure-library
  url = https://github.com/google/closure-library.git
  ignore = dirty
  branch = master
