[submodule "src/closure-library"]
	path = src/closure-library
	url = https://github.com/jarib/google-closure-library.git
	ignore = untracked
[submodule "src/wtforms"]
	path = src/wtforms
	url = https://github.com/hoydaa/lib-wtforms.git
[submodule "src/less"]
	path = src/less
	url = https://github.com/cloudhead/less.js.git
[submodule "src/twitter-bootstrap"]
	path = src/twitter-bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "src/closure-templates"]
	path = src/closure-templates
	url = git@github.com:adamjmcgrath/closure-templates.git
[submodule "src/growjs"]
	path = src/growjs
	url = git@github.com:adamjmcgrath/growjs.git
[submodule "src/mapreduce"]
	path = src/mapreduce
	url = git@github.com:adamjmcgrath/appengine-mapreduce-python.git
