coverage
Fabric
nose
NoseGAE
WebTest
mock
pyyaml
pylint
python-dateutil==2.1
wtforms==0.6.3
gaenv
-e git+https://github.com/crhym3/simpleauth.git@f6709ce1963e19640c351a2985c10d32cdf57533#egg=simpleauth