{% extends "templates/base.tpl" %}

{% block page_id %}question-page{% endblock page_id %}

{% block main %}
<div id="title">
  <h3>Can you name this film?</h3>
</div>
<div id="answers">
  <form action="" method="post" id="answer-form">

    {# A list of film title guesses that have been made by the user. #}
    {% set made_guesses = answer.made_guesses() %}
    {# Whether the question has been answered. #}
    {% set complete = answer.correct or answer.incorrect %}

    {% for clue in answer.required_clues() %}

      {# The current film title of the users guess. #}
      {% set guess = made_guesses[loop.index0] %}
      {# Whether the current guess is correct. #}
      {% set correct = answer.guess_is_correct(loop.index0) %}
      {# Whether the current guess is incorrect. #}
      {% set incorrect = not correct %}
      {# Whether the guess is active and the user gets a form field. #}
      {% set active = loop.last and not complete %}

      <div class="clue"{% if loop.first %} id="screenshot"{% endif %}>
        {% if loop.first %}
        <img src="{{clue}}">
        {% else %}
        <p><b>Clue {{loop.index0}}:</b> {{clue}}</p>
        {% endif %}
      </div>
      {% if active %}
        <div class="guess grids{% if form.errors.guess %} error{% endif %}">
          <div class="input grid-5">
            <p>{{form.guess}}</p>
          </div>
          <div class="button grid-2">
            <p><button><span>Submit</span></button></p>
          </div>
        </div>
      {% else %}
        <div class="guess grids{% if incorrect %} incorrect{% endif %}">
          <div class="input grid-5">
            <p><span>{{guess}}</span></p>
          </div>
          <div class="button grid-2">
            <p>
              <button disabled="disabled">
                <span>
                {% if correct %}Correct
                {% elif incorrect %}Incorrect
                {% endif %}
                </span>
              </button>
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    {% if complete %}
    <div id="answer">
      <p>
        <b>
          {% if answer.correct %}Correct{% else %}Incorrect{% endif %}.
          You scored {{answer.score}}
        </b>
        The answer is of course:
        <b>{{question.film.title}}.</b>
      </p>
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}

{% block body_base %}
{% if not answer.correct and not answer.incorrect %}
{% include "templates/inc/questionjs.tpl" %}
<script>
  var q = new ffc.Question();
</script>
{% endif %}
{% endblock %}