{namespace ffc.template.contacts}


/**
 * Contact.
 * @param id The id.
 * @param img The img url.
 * @param name The name.
 * @param cls An additional class names.
 */
{template .contact}
<span class="contact{if $cls} {$cls}{/if}" data-row="{$id}">
  {if $img}<img src="{$img}">{/if}
  <span class="name">{$name}</span>
  <span class="glyphicon glyphicon-remove remove"></span>
</span>
{/template}