{% extends "templates/admin/base.tpl" %}

{% block page_id %}questions-page{% endblock page_id %}

{% block main %}
{{super()}}
<h2>Questions</h2>
<table>
  <tr>
    <th></th>
    <th>title</th>
    <th>clue_1</th>
    <th>clue_2</th>
    <th>edit</th>
    <th>view</th>
    <th>pose</th>
  </tr>
  {% for q in questions %}
  <tr>
    <td style="width: 80px;"><img src="{{q.screenshot_url(80)}}"></td>
    <td>{{q.film.title}}</td>
    <td>{{q.clue_1}}</td>
    <td>{{q.clue_2}}</td>
    <td><a href="/admin/editquestion/{{q.key()}}">edit</a></td>
    <td><a href="/question/{{q.key()}}">view</a></td>
    <td>
      {% if not q.posed %}
      <a href="/admin/posequestion/{{q.key()}}">email</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

