{% extends "templates/jinja/base.tpl" %}

{% set page_id = 'archive-page' %}

{% block page_id %}{{ page_id }}{% endblock page_id %}

{% block content %}
<div class="col-md-12">
  <h1>Old questions</h1>
  <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores eum, harum hic itaque libero, modi molestiae odio odit provident quaerat quis, quo quos sapiente voluptates.</p>
  {% if not questions.get() %}
  <div class="alert alert-warning">There are no questions in the archive yet.</div>
  {% endif %} 
  {% for q in questions %}
    {% if not loop.index0 % 3 %}
      {% if not loop.first %}
        </div>
      {% endif %}
    <div class="row">
    {% endif %} 
      <div class="col-md-4">
        <div class="well">
          <h4 class="list-group-item-heading">Season {{ q.season.id() }}, Week {{ q.week }}</h4>
          <img src="{{ q.clue_image_url(size=243) }}">
          <p><a class="btn btn-default" href="/question/{{ q.key.id() }}">Play for fun</a></p>
        </div>
      </div>
    {% if loop.last %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block sidebar %}
<div class="col-md-3" id="sidebar">

</div>
{% endblock %}

{% block body_base %}
{% endblock %}
