{% extends "templates/jinja/base.tpl" %}

{% set page_id = 'how-page' %}

{% block page_id %}{{ page_id }}{% endblock page_id %}


{% block content %}
<div class="col-md-10 col-md-offset-1">
  <h2>How to Play</h2>
  <p>Each Friday at approximately 3pm UK time you will be sent an email and the clock will start ticking.</p>
  <p>There is a maximum of <b>20,000</b> points available, but the timer drops down 1 point per second so you’ll have approximately 6 hours from the email being sent to score any points!</p>
  <p>When you click on the link within the email you will be taken to a screenshot of a film. Underneath the screenshot is a box for you to write the name of the film you think the screenshot is from and then submit your answer.</p>
  <p>If you don’t recognise the screenshot you have 3 clues available to you. But use a clue or submit an incorrect answer and you’ll instantly drop <b>2,000</b> points.</p>
  <p>Easy, right? Well some weeks it will be and you’ll be top of the leader board. Other weeks it won’t be and you’ll be down with the... err... morlocks?</p>
  <p>Either way, one thing is for sure: everyone else playing wants to secure more points than you. Especially your friends.</p>
  <p>And as a fully registered member you’ll receive 10 invites to send out to future rivals to help prove that you’re the EXACT person they should to turn to when it comes to recognising the Goon Docks or the back of Anthony Hopkins’ head!</p>
  <p>As Kevin Bacon once said: <i>“These are the fact of the case, and they are undisputed”</i> so that's it, folks.</p>
  <p>Oh and one final thing. Every 12 weeks the current Friday Film Club season ends and another begins. So, if you’re having a tough run of luck or joined the Club late in the day, fear not, you can start afresh after week 12 and use the remainder of the season you are currently in to hone your answering skills.</p>
  <p>Good luck, everyone. And may the best Club member win... my respect!</p>
  <blockquote class="signoff">
    <p>FMJ</p>
    <small>Film Master Jack</small>
  </blockquote>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-3" id="sidebar">

</div>
{% endblock %}

{% block body_base %}
{% endblock %}


