{% extends "templates/jinja/base.tpl" %}

{% set page_id = 'how-page' %}

{% block page_id %}{{ page_id }}{% endblock page_id %}


{% block content %}
<div class="col-md-10 col-md-offset-1">
  <h2>How to Play</h2>
  <ul>
    <li>Each Friday at 3PM you will be sent an email and the clock will start clicking...</li>
    <li>When you click on the link within the email you will be taken to a screenshot of a film and you have approximately 5½ hours to submit your answer.</li>
    <li>The clock will drop 1 point per second and there are a maximum of <b>20,000</b> points available from the 3PM email being sent. The faster you answer, the higher your score.</li>
    <li>If you don’t recognise the screenshot you can request up to 3 clues. But use a clue or submit an incorrect answer and you’ll instantly drop <b>2,000</b> points.</li>
    <li>The game is divided up into Seasons of 12 weeks in length but you can join and play at any time.</li>
    <li>There’s an on-going leaderboard and prizes available for the winner of each Season along with rewards for fastest answer and consistency of play.</li>
  </ul>
  <p>As Kevin Bacon once said: <i>“These are the fact of the case, and they are undisputed”</i> so that's it, folks.</p>
  <p>Best of luck, and welcome to Friday Film Club!</p>

  <blockquote class="signoff">
    <p>FMJ</p>
    <small>Film Master Jack</small>
    <small><a href="https://twitter.com/FilmMasterJack">@filmmasterjack</a></small>
    <small><a href="https://www.facebook.com/fridayfilmclub">facebook.com/fridayfilmclub</a></small>
  </blockquote>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-3" id="sidebar">

</div>
{% endblock %}

{% block body_base %}
{% endblock %}


