{% extends "templates/jinja/base.tpl" %}

{% block page_id %}home-page{% endblock page_id %}

{% block content %}
  <div id="home-promo">
    <h1 class="custom-font">Think you know film?</h1>
    <h2 class="custom-font-script">You don't know Jack...</h2>
    <p>
      {% if logged_in %}
        <a href="{{ uri_for('how-it-works') }}" class="btn btn-lg btn-info">How to Play</a>
      {% else %}
        <a href="{{ uri_for('register') }}" class="btn btn-lg btn-success">Sign up to play</a>
      {% endif %}
    </p>
    <p class="text-muted">
      The World's greatest distraction for lovers of film. Identify a screenshot<br>
      and pitch your wits for pride, respect and prizes.<br>
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        {% if logged_in and question_image %}
        <h5 class="panel-heading">This week</h5>
        <div class="panel-body">
          <a href="{{ uri_for('question', None, '') }}"><img class="img-thumbnail" src="{{ question_image }}"></a>
          <p>Whether time is up or not, here’s this week’s current question.</p><br>
          <p><a href="{{ uri_for('question', None, '') }}">This week's question</a></p>
        </div>
        {% else %}
        <h5 class="panel-heading">How it works</h5>
        <div class="panel-body">
          <a href="{{ uri_for('how-it-works') }}"><img class="img-thumbnail" src="static/img/junior.jpg"></a>
          <p>Find out the rules, how the scoring works and how to play the game.</p><br>
          <p><a href="{{ uri_for('how-it-works') }}">How to play</a></p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <h5 class="panel-heading">Previous weeks</h5>
        <div class="panel-body">
          <a href="{{ uri_for('archive') }}"><img class="img-thumbnail" src="static/img/wargames.jpg"></a>
          <p>Fancy a play without the pressure? Here are some questions from the past to cut your teeth on.</p>
          <p><a href="{{ uri_for('archive') }}">Old questions archive</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <h5 class="panel-heading">Top the leader board</h5>
        <div class="panel-body">
          <a href="{{ uri_for('leader-board') }}"><img class="img-thumbnail" src="static/img/karatekid.jpg"></a>
          <p>I FEEL THE NEED! THE NEED FOR... showing how you’re doing on the leaderboard.</p>
          <p><a href="{{ uri_for('leader-board') }}">Leaderboards</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
