{% extends "templates/jinja/base.tpl" %}

{% block page_id %}home-page{% endblock page_id %}

{% block content %}
  <div id="home-promo">
    <h1 class="custom-font">Think you know film?</h1>
    <h2 class="custom-font-script">You don't know Jack...</h2>
    <p>
      <a href="" class="btn btn-large btn-info">Register to Play</a>
    </p>
  </div>
  <div class="row">
    <div class="span4">
      <h3>How it works</h3>
{#      <img class="img-polaroid" src="static/img/karatekid.jpg">#}
      <p>Find out the rules, how the scoring works and how to play the game.</p>
    </div>
    <div class="span4">
      <h3>Play for fun</h3>
{#      <img class="img-polaroid" src="static/img/karatekid.jpg">#}
      <p>Check out our old questions from the archives and play the quiz for fun.</p>
    </div>
    <div class="span4">
      <h3>Top the leader board</h3>
{#      <img class="img-polaroid" src="static/img/karatekid.jpg">#}
      <p>Be the fastest film quizzer of the week, the year or of all time!</p>
    </div>
  </div>

{% endblock %}

{% block body_base %}
{% endblock %}


