{% extends "templates/jinja/base.tpl" %}

{% block page_id %}home-page{% endblock page_id %}

{% block content %}
  <div id="home-promo">
    <h1 class="custom-font">Think you know film?</h1>
    <h2 class="custom-font-script">You don't know Jack...</h2>
    <p>
      <a href="{{ uri_for('profile') }}" class="btn btn-lg btn-success">Register to Play</a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <h5 class="panel-heading">How it works</h5>
        <div class="panel-body">
          <img class="img-thumbnail" src="static/img/junior.jpg">
          <p>Find out the rules, how the scoring works and how to play the game.</p>
          <p><a href="{{ uri_for('how-it-works') }}">How to play</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <h5 class="panel-heading">Play for fun</h5>
        <div class="panel-body">
          <img class="img-thumbnail" src="static/img/wargames.jpg">
          <p>Check out our old questions from the archives and play the quiz for fun.</p>
          <p><a href="{{ uri_for('archive') }}">Old questions archive</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <h5 class="panel-heading">Top the leader board</h5>
        <div class="panel-body">
          <img class="img-thumbnail" src="static/img/karatekid.jpg">
          <p>Be the fastest film quizzer of the week, the year or of all time!</p>
          <p><a href="{{ uri_for('leaderboard') }}">Leaderboards</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block body_base %}
{% endblock %}


