{% extends "templates/jinja/base.tpl" %}

{% set page_id = 'leaderboard-page' %}

{% block page_id %}{{ page_id }}{% endblock page_id %}

{% block content %}
<div class="container">
  <h1>Leaderboard</h1>
  <p>Remember, every 12 weeks the current FFC season ends and another begins so there’s plenty of chance to play catch-up. </p>
  <ul id="leaderboard-tabs" class="nav nav-tabs">
    <li class="active"><a href="#" data-leaderboard="week">This week</a></li>
    {% for season_number in range(season.number) %}
    <li><a href="#" data-leaderboard="{{ loop.index }}">Season {{ loop.index }}</a></li>
    {% endfor %}
    <li><a href="#" data-leaderboard="all">All time</a></li>
  </ul>
  <div id="leaderboard-container-all"></div>
  {% for season_number in range(season.number) %}
  <div id="leaderboard-container-{{ loop.index }}"></div>
  {% endfor %}
  <div id="leaderboard-container-week"></div>
</div>
{% endblock %}


{% block body_base %}
{% if debug %}
  <script src="/closure-library/closure/goog/base.js"></script>
  <script src="/static/js/deps.js"></script>
  <script>
    goog.require('goog.ui.Component');
    goog.require('ffc.leaderboard.LeaderBoard');
    goog.require('ffc.leaderboard.LeaderBoardToggler');
  </script>
{% else %}
  <script src="/static/js/leaderboard.js"></script>
{% endif %}
<script>

  var lbmw = new ffc.leaderboard.LeaderBoardModel('week', ffc.api.Client.getInstance());
  var lbw = new ffc.leaderboard.LeaderBoard(lbmw);
  lbw.render(document.getElementById('leaderboard-container-week'));

  var lbma = new ffc.leaderboard.LeaderBoardModel('all', ffc.api.Client.getInstance());
  var lba = new ffc.leaderboard.LeaderBoard(lbma);
  var lbs = [lbw, lba];

  {% for season_number in range(season.number) %}
    lbs.push(
      new ffc.leaderboard.LeaderBoard(
        new ffc.leaderboard.LeaderBoardModel('{{ loop.index }}', ffc.api.Client.getInstance())
      )
    );
  {% endfor %}

  var lbt = new ffc.leaderboard.LeaderBoardToggler(lbs);
  lbt.decorate(document.getElementById('leaderboard-tabs'));

</script>
{% endblock %}
