{% extends "templates/jinja/base.tpl" %}

{% block page_id %}leaderboard-page{% endblock page_id %}

{% block content %}
<div class="container">
  <h1>Leaderboard</h1>
  <ul id="leaderboard-tabs" class="nav nav-tabs">
    <li class="active"><a href="#" data-leaderboard="week">This week</a></li>
    <li><a href="#" data-leaderboard="all">All time</a></li>
  </ul>
  <div id="leaderboard-container-all"></div>
  <div id="leaderboard-container-week"></div>
</div>
{% endblock %}


{% block body_base %}
{% if debug %}
  <script src="/closure-library/closure/goog/base.js"></script>
  <script src="/static/js/deps.js"></script>
  <script>
    goog.require('goog.ui.Component');
    goog.require('ffc.leaderboard.LeaderBoard');
    goog.require('ffc.leaderboard.LeaderBoardToggler');
  </script>
{% else %}
  <script src="/static/js/leaderboard.js"></script>
{% endif %}
<script>

  var lbmw = new ffc.leaderboard.LeaderBoardModel('week', ffc.api.Client.getInstance());
  var lbw = new ffc.leaderboard.LeaderBoard(lbmw, document.getElementById('leaderboard-container-week'));
  lbw.render();

  var lbma = new ffc.leaderboard.LeaderBoardModel('all', ffc.api.Client.getInstance());
  var lba = new ffc.leaderboard.LeaderBoard(lbma, document.getElementById('leaderboard-container-all'));

  var lbt = new ffc.leaderboard.LeaderBoardToggler(lbw, lba);
  lbt.decorate(document.getElementById('leaderboard-tabs'));

</script>
{% endblock %}
