{% extends "templates/jinja/base.tpl" %}

{% set page_id = 'leaderboard-page' %}

{% block page_id %}{{ page_id }}{% endblock page_id %}

{% block content %}
<div class="container">
  <h1>{% if league %}{{ league.name }} {% endif %}Leaderboard</h1>
  <p>Remember, every 12 weeks the current FFC season ends and another begins so there’s plenty of chance to play catch-up. </p>
  <ul id="leaderboard-tabs" class="nav nav-tabs">
    <li class="active"><a href="#" data-leaderboard="week">This week</a></li>
    {% for season_number in range(season.number) %}
    <li><a href="#" data-leaderboard="{{ loop.index }}">Season {{ loop.index }}</a></li>
    {% endfor %}
    <li><a href="#" data-leaderboard="all">All time</a></li>
    <li class="pull-right"><a href="{{ uri_for('high-scores') }}{% if league %}?league={{ league.key.id }}{% endif %}">High Scores</a></li>
  </ul>
  <div class="leaderboard-container" id="leaderboard-container-all"></div>
  {% for season_number in range(season.number) %}
  <div class="leaderboard-container" id="leaderboard-container-{{ loop.index }}"></div>
  {% endfor %}
  <div class="leaderboard-container" id="leaderboard-container-week"></div>
</div>
{% endblock %}

{% block body_base %}
  <script src="/_ah/channel/jsapi"></script>
  <script>var appengine = goog.appengine;</script>
{% if debug %}
  <script src="/closure-library/closure/goog/base.js"></script>
  <script src="/static/js/deps.js"></script>
  <script>
    goog.require('goog.ui.Component');
    goog.require('ffc.leaderboard.LeaderBoard');
    goog.require('ffc.leaderboard.LeaderBoardToggler');
  </script>
{% else %}
  <script src="/static/js/leaderboard.js"></script>
{% endif %}
<script>
  (function() {

    var league = '{{ league.key.id() if league else ""  }}';
    var lbmw = new ffc.leaderboard.LeaderBoardModel('week',
        ffc.api.Client.getInstance(), league);
    var lbw = new ffc.leaderboard.LeaderBoard(lbmw, true);
    lbw.render(document.getElementById('leaderboard-container-week'));

    var lbma = new ffc.leaderboard.LeaderBoardModel('all',
        ffc.api.Client.getInstance(), league);
    var lba = new ffc.leaderboard.LeaderBoard(lbma, true);
    var leaderBoards = [lbw, lba];

    {% for season_number in range(season.number) %}
      var lbms = new ffc.leaderboard.LeaderBoardModel('{{ loop.index }}',
          ffc.api.Client.getInstance(),league);
      {% if loop.last %}
        var lbs = new ffc.leaderboard.LeaderBoard(lbms, true);
      {% else %}
        var lbs = new ffc.leaderboard.LeaderBoard(lbms);
      {%  endif %}
      leaderBoards.push(lbs);
    {% endfor %}

    var lbt = new ffc.leaderboard.LeaderBoardToggler(leaderBoards);
    lbt.decorate(document.getElementById('leaderboard-tabs'));

    var channel = new appengine.Channel('{{ channel_token }}'),
        socket = channel.open();

    socket.onmessage = function(msg) {
      for (var i = 0, len = leaderBoards.length; i < len; i++) {
        leaderBoards[i].onMessage(msg);
      }
    };

  })();
</script>
{% endblock %}
