{% extends "templates/jinja/base.tpl" %}

{% block page_id %}login-page{% endblock page_id %}

{% block main %}
{% if no_invite_warning %}
<div class="col-md-6 col-md-offset-3 alert alert-danger">
  Friday Film Club is <strong>invitation only</strong>. You must be invited to play.
</div>
{% endif %} 
<div class="col-md-4 col-md-offset-4 well" id="login-buttons">
  <h4>Club members login:</h4>
  <div class="login-button">
    <a href="{{ uri_for('auth_login', provider='facebook') }}" class="btn btn-large btn-primary" type="button">
      <img src="/static/img/facebook.png">
      Login with Facebook
    </a>
  </div>
  <div class="login-button">
    <a href="{{ uri_for('auth_login', provider='twitter') }}" class="btn btn-large btn-info" type="button">
      <img src="/static/img/twitter.png">
      Login with Twitter
    </a>
  </div>
  <div class="login-button">
    <a href="{{ uri_for('auth_login', provider='google') }}" class="btn btn-large btn-default" type="button">
      <img src="/static/img/google.png">
      Login with Google
    </a>
  </div>
  <p>Not a member? <a href="{{ uri_for('register') }}">Register to play</a></p>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body_base %}
{% endblock %}


