{% extends "templates/jinja/base.tpl" %}

{% block page_id %}profile-page{% endblock page_id %}

{% block main %}
<div class="col-md-9">
  <h1>{{ user_profile.username }}'s profile</h1>
  {% if user_profile.favourite_film_title %}
  <div class="well">
    <h4 class="text-muted">Favourite Film:</h4>
    <p>{{ user_profile.favourite_film_title }}</p>
  </div>
  {% endif %}
  {% if user_profile.questions_answered > 0 %}
  <div class="well">
    <h4 class="text-muted">Previous scores:</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Season</th>
          <th>Week</th>
          <th>Score</th>
          <th>Clues</th>
        </tr>
      </thead>
      {% for uq in user_questions %}
        <tr>
          {% set season = uq.question.get().season %}
          <td>{{ season and season.id() }}</td>
          <td>{{ uq.question.get().week }}</td>
          <td>{{ uq.score }}</td>
          <td>{{ uq.guesses|length - 1 }}</td>
        </tr>
      {% endfor %}
    </table>
    <h4 class="text-muted">Average score:</h4>
    <p>{{ (user_profile.overall_score / user_profile.questions_answered)|round(1) }}</p>
    <h4 class="text-muted">Average clues used:</h4>
    <p>{{ (user_profile.overall_clues / user_profile.questions_answered)|round(1) }}</p>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-3" id="sidebar">
  <img src="{{ user_profile.pic_url() }}" style="width: 100%">
</div>
{% endblock %}

{% block body_base %}
{% endblock %}


