{% extends "templates/jinja/base.tpl" %}

{% block page_id %}question-page{% endblock page_id %}

{% block main %}
<div class="row">
  <div class="span9">
    <h1>Can you identify this film?</h1>
    <div id="clues">
      
      {# A list of film title guesses that have been made by the user. #}
      {% set made_guesses = answer.made_guesses() %}
      {# Whether the question has been answered. #}
      {% set complete = answer.correct or answer.incorrect %}      
      

      {% for clue in answer.required_clues() %}

        {# The current film title of the users guess. #}
        {% set guess = made_guesses[loop.index0] %}
        {# Whether the current guess is correct. #}
        {% set correct = answer.guess_is_correct(loop.index0) %}
        {# Whether the current guess is incorrect. #}
        {% set incorrect = not correct %}
        {# Whether the guess is active and the user gets a form field. #}
        {% set active = loop.last and not complete %}


        {# Screenshot or clue #}
        {% if loop.first %}
        <div class="thumbnail" id="screenshot">
          <img src="{{clue}}" width="910" height="343">
        </div>
        {% else %}
        <div class="alert alert-info clue">
          <b>Clue #{{loop.index0}}:</b> {{clue}}
        </div>
        {% endif %}
        

        {% if active %}

        <form class="well" id="answer-form">
          <div class="input-prepend form-horizontal guess">
            <span class="add-on"><i class="icon-search"></i></span>
            {{form.guess}}
            {# <input id="prependedInput" size="16" type="text" class="span7">#}
            <button type="submit" class="btn">Search</button>
          </div>
          <div class="controls rows" id="suggestions">
            <p>Search for a film, then select your guess from the list.</p>
            <!-- <label class="radio">
              <input type="radio" name="guess" value="">
              Once Upon a Time in the West<span>1982</span>
            </label> -->
            <div class="guess-buttons">
              <a href="#" class="btn btn-primary">Submit</a>
              <a href="#" class="btn btn-danger">Pass</a>
            </div>
          </div>
        </form>
        
        {% else %}

        <div class="alert failed-guess guess">
          <b>{{guess}}</b> is incorrect!
        </div>

        {% endif %}
      {% endfor %}


      {# User has finished guessing and is either correct or incorrect #}
      {% if complete %}
      <div class="alert alert-{% if answer.correct %}success{% else %}error{% endif %} clue">
        <h4 class="alert-heading">{% if answer.correct %}Correct{% else %}Incorrect{% endif %}!</h4>
        <p>The answer is of course: {{question.film.title}}. You scored {{answer.score}}</p>
      </div>
      {% endif %}

    </div>
  </div>
  <div class="span3" id="sidebar">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Excepteur sint occaecat cupidatat non proident.</p>
  </div>
</div>
{% endblock %}

{% block body_base %}
{% if not answer.correct and not answer.incorrect %}
{% include "templates/jinja/inc/questionjs.tpl" %}
<script>
  var q = new ffc.Question();
</script>
{% endif %}
{% endblock %}


