{% extends "templates/jinja/base.tpl" %}

{% block page_id %}question-page{% endblock page_id %}

{% block main %}
{% if user.is_anonymous %}
<div class="col-md-12">
  <div class="join-alert alert alert-danger clearfix">
    Psst... You're playing for fun, to play for real every week join the club <a href="{{ uri_for('register') }}" class="btn btn-danger btn-sm pull-right">Register</a>
  </div>
</div>
{% endif %}
<div class="col-md-9">
  <h1>
    What film is this from?
    {% if user.is_admin %}
    <form action="{{ uri_for('admin-delete-user-question') }}" method="post" class="pull-right">
      <input type="hidden" value="{{ user_question.key.id() }}" name="user_question">
      <input type="submit" class="btn btn-danger" value="Delete UserQuestion">
    </form>
    {% endif %}
  </h1>
  <div id="clues"></div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-3" id="sidebar">
  <div id="scroll-float">
    <div id="score-board" class="well">
      <p class="text-muted">
        <b>Season <span class="text-warning">{{ question.season and question.season.id() }}</span></b>
        <b class="pull-right">Week <span class="text-warning">{{ question.week }}</span></b>
      </p>
      <div id="score-wrap" class="score"></div>
    </div>
    <div id="live-scores"></div>
  </div>
</div>
{% endblock %}

{% block body_base %}
{% if channel_token %}
  <script src="/_ah/channel/jsapi"></script>
  <script>var appengine = goog.appengine;</script>
{% endif %}
{% include "templates/jinja/inc/questionjs.tpl" %}
<script>
  var q = new ffc.quiz.Question('{{question.key.id()}}',
      document.getElementById('clues'),
      document.getElementById('score-wrap'){% if user.is_anonymous %}, '{{ user.key.id() }}'{% endif %});
{% if channel_token and not user.is_anonymous %}
  var r = new ffc.quiz.RealtimeScores('{{ channel_token }}',
      document.getElementById('live-scores'));
{% endif %}
</script>
{% endblock %}


