{% extends "templates/jinja/base.tpl" %}

{% block page_id %}question-page{% endblock page_id %}

{% block main %}
<div class="col-md-9">
  <h1>What is this film? Talk to me, Goose!</h1>
  <div id="clues"></div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-3" id="sidebar">
  <div id="score-board" class="well">
    <p class="text-muted">
      <b>Season <span class="text-warning">{{ question.season and question.season.id() }}</span></b>
      <b class="pull-right">Week <span class="text-warning">{{ question.week }}</span></b>
    </p>
    <div id="score-wrap" class="score"></div>
  </div>
</div>
{% endblock %}

{% block body_base %}
{% include "templates/jinja/inc/questionjs.tpl" %}
<script>
  var q = new ffc.quiz.Question('{{question.key.id()}}',
      document.getElementById('clues'),
      document.getElementById('score-wrap'));
</script>
{% endblock %}


