{% extends "templates/jinja/base.tpl" %}

{% block page_id %}question-page{% endblock page_id %}

{% block main %}
<div class="span9">
  <h1>Can you identify this film?</h1>
  <div id="clues"></div>
</div>
{% endblock %}

{% block sidebar %}
<div class="span3" id="sidebar">
  <div id="score-wrap"></div>
</div>
{% endblock %}

{% block body_base %}
{% include "templates/jinja/inc/questionjs.tpl" %}
<script>
  var q = new ffc.quiz.Question('{{question.key()}}',
      document.getElementById('clues'),
      document.getElementById('score-wrap'));
</script>
{% endblock %}


