{% extends "templates/jinja/base.tpl" %}

{% block page_id %}register-page{% endblock page_id %}

{% block main %}
  {% if not form.invitation_code.data %}
    <div class="col-md-6 col-md-offset-3 alert alert-danger">
      Friday Film Club is <strong>invitation only</strong>...
      <span class="pull-right">But you can <a href="{{ uri_for('requestinvite') }}">request an invite</a>.</span>
    </div>
  {% endif %}
  <div class="col-md-6 col-md-offset-3 well" id="login-buttons">
    <h4>Join Friday Film Club:</h4>
    <p class="text-muted">Enter your details:</p>
    <form action="" method="post">
      <div class="form-group{% if form.errors.username %} has-error{% endif %}">
        <label for="userName">Username:</label>
        {% if form.errors.username %}
          <small class="text-danger pull-right">{{ form.errors.username[0] }}</small>
        {% endif %}
        {{ form.username(class_='form-control', id='userName', placeholder='Your username') }}
        <input type="hidden" name="register" value="true">
        <small class="help-block">Your username must be unique &amp; 3-16 characters (letters, numbers and '_' only).</small>
      </div>
      <div class="form-group{% if form.errors.invitation_code %} has-error{% endif %}">
        <label for="invitationCode">Invitation code</label>
        {% if form.errors.invitation_code %}
          <small class="text-danger pull-right">{{ form.errors.invitation_code[0] }}</small>
        {% endif %}
        {{ form.invitation_code(class_='form-control', id='invitationCode', placeholder='Invitation code') }}
        <small class="help-block">Friday Film Club is invitation only.</small>
      </div>
      <p class="text-muted">Then login with one of these services:</p>
      <div class="row">
        <div class="col-md-4">
          <button name="provider" class="btn btn-large btn-primary" type="submit" value="facebook">
            <img src="/static/img/facebook.png">
            Facebook
          </button>
        </div>
        <div class="col-md-4">
          <button name="provider" class="btn btn-large btn-info" type="submit" value="twitter">
            <img src="/static/img/twitter.png">
            Twitter
          </button>
        </div>
        <div class="col-md-4">
          <button name="provider" class="btn btn-large btn-default" type="submit" value="google">
            <img src="/static/img/google.png">
            Google
          </button>
        </div>
      </div>
    </form>
    <p class="after-form">Already a member? <a href="{{ uri_for('login') }}">Login</a></p>
  </div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body_base %}
{% endblock %}


