{% extends "templates/jinja/base.tpl" %}

{% set page_id = 'invite-page' %}

{% block page_id %}{{ page_id }}{% endblock page_id %}

{% block content %}
  <h3>Send invites to:<span class="pull-right">Invites left: <span id="invite-count">{{ user.invites|length }}</span></span></h3>
  <form action="" method="post">
    {% for provider in providers %}
      <div class="input-group {{ provider.id }}{% if provider.has_token %} loading{% endif %}">
        <span class="input-group-addon">
          <img src="/static/img/{{ provider.id }}.png" class="provider">
          <img src="/static/img/ajax-loader-sm.gif" class="loader">
           {{ provider.noun }}
        </span>
        <p class="input-lg form-control"{% if not provider.has_token %} disabled{% endif %}>
          {% if provider.has_token %}
            <input id="{{ provider.id }}-ac" type="text" value="" autocomplete="off">
            <input id="{{ provider.id }}-ac-values" name="{{ provider.id }}-contacts" type="hidden">
          {% else %}
            <a href="">Click here to add your {{ provider.id|title }} account.</a>
          {% endif %}
        </p>
        <div id="{{ provider.id }}-ac-picker" class="picker"></div>
      </div>
    {% endfor %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary pull-right">Send invites</button>
    </div>
  </form>
{% endblock %}

{% block nav_bar %}{% endblock %}

{% block footer %}{% endblock %}

{% block body_base %}
  <script src="/closure-library/closure/goog/base.js"></script>
  <script src="/static/js/deps.js"></script>
  <script>
    goog.require('goog.ui.Component');
    goog.require('ffc.invite.AutoComplete');
    goog.require('ffc.invite.Counter');
  </script>
   <script>
   var acs = [];
   {% for provider in providers %}
    {% if provider.has_token %}
      var ac_{{ provider.id }} = new ffc.invite.AutoComplete(
          document.getElementById('{{ provider.id }}-ac'),
          '{{ provider.id }}',
          document.getElementById('{{ provider.id }}-ac-picker'),
          document.getElementById('{{ provider.id }}-ac-values'));
      acs.push(ac_{{ provider.id }});
    {% endif %}
  {% endfor %}
   var counter = new ffc.invite.Counter({{ user.invites|length }},
       document.getElementById('invite-count'), acs);
  </script>
{% endblock %}
