{% extends "templates/jinja/base.tpl" %}

{% block page_id %}settings-page{% endblock page_id %}

{% block main %}
<div class="col-md-9">
  {# Invite #}
  <div class="alert alert-info">
  <h4 class="text-muted" id="invite">Invite your friends:</h4>
  <form class="form" id="invite-form">
    <div class="input-group">
      <input name="email" type="text" class="invite-email form-control" id="inviteEmail" placeholder="name@example.com" list="emailAutoComplete">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Send Invite</button>
      </span>
    </div>
    <p class="help-block">Enter a valid email. You have <span class="num-invites">{{ user.invites|length }}</span> invite{% if user.invites|length != 1 %}s{% endif %} left.</p>
  </form>
  </div>

  <h1>Settings</h1>

  <h4 class="text-muted">Edit your profile</h4>
  <form class="form-horizontal" id="user-settings-form" action="" method="post" enctype="multipart/form-data" onsubmit="return getAnswer()">

    {# Username #}
    <div class="form-group{% if form.errors.username %} has-error{% endif %}">
      <label for="userName" class="col-lg-3 control-label">fridayfilmclub.com/u/</label>
      <div class="col-lg-9">
        {{ form.username(class_='form-control', id='userName') }}
        {% if form.errors.username %}
          <small class="help-block">Your username must be unique &amp; 3-16 characters (letters, numbers and '_' only).</small>
        {% else %}
          <p class="help-block">Your public username (if you change this, you will be asked to login again).</p>
        {% endif %}
      </div>
    </div>

    {# Email #}
    <div class="form-group{% if form.errors.email %} has-error{% endif %}">
      <label for="inputEmail" class="col-lg-3 control-label">Email</label>
      <div class="col-lg-9">
        {{ form.email(class_='form-control', id='inputEmail') }}
        {% if form.errors.email %}
          <p class="help-block">Please enter a valid email.</p>
        {% else %}
          <p class="help-block">We need your email to send you the weekly question.</p>
        {% endif %}
      </div>
    </div>

    {# Favourite Film #}
    {% if not user.favourite_film_title %}
      <div class="alert alert-warning">I'd really like to know your favourite film <span class="glyphicon glyphicon-hand-down"></span></div>
    {% endif %}
    <div class="form-group{% if form.favourite_film.errors %} error{% endif %}">
      <label for="ac" class="col-lg-3 control-label">Favourite Film</label>
      <div class="col-lg-9">
        <input id="ac" class="form-control" type="text" value="{{user.favourite_film_title or ''}}" autocomplete="off" placeholder="Start typing, then select a film below">
      </div>
      <input type="hidden" id="original-answer" name="favourite_film" value="{{ user.favourite_film_key or '' }}">
    </div>

    {# Profile Pic #}
    <div class="form-group">
      <label for="profilePic" class="col-lg-3 control-label">Profile pic</label>
      <div class="col-lg-9">
        {{ form.pic(class_='form-control', id='profilePic') }}
        <p class="help-block">Max size 1MB</p>
      </div>
    </div>

    {# Submit Button #}
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-primary pull-right">Save profile</button>
      </div>
    </div>

  </form>

  <h4 class="text-muted">Link your accounts</h4>
  <ul class="list-group">
    <li class="list-group-item">
      Google
      {% if user.google_name %}
        <span class="glyphicon glyphicon-ok pull-right"></span>
      {% else %}
        <a href="/auth/google" class="btn btn-xs btn-default pull-right" type="button">
          <img src="/static/img/google.png">
          Add
        </a>
      {% endif %}
    </li>
    <li class="list-group-item">
      Facebook
      {% if user.facebook_name %}
        <span class="glyphicon glyphicon-ok pull-right"></span>
      {% else %}
        <a href="/auth/facebook" class="btn btn-xs btn-primary pull-right" type="button">
          <img src="/static/img/facebook.png">
          Add
        </a>
      {% endif %}
    </li>
    <li class="list-group-item">
      Twitter
      {% if user.twitter_name %}
        <span class="glyphicon glyphicon-ok pull-right"></span>
      {% else %}
        <a href="/auth/twitter" class="btn btn-xs btn-info pull-right" type="button">
          <img src="/static/img/twitter.png">
          Add
        </a>
      {% endif %}
    </li>
  </ul>
</div>
<datalist id="emailAutoComplete"></datalist>
{% endblock %}

{% block sidebar %}
<div class="col-md-3" id="sidebar">
  <img src="{{ user.pic_url() }}" style="width: 100%">
</div>
{% endblock %}

{% block body_base %}
{% if debug %}
  <script src="/closure-library/closure/goog/base.js"></script>
  <script src="/static/js/deps.js"></script>
  <script>
    goog.require('goog.ui.Component');
    goog.require('ffc.settings.InviteForm');
    goog.require('ffc.suggest.AutoComplete');
  </script>
{% else %}
  <script src="/static/js/settings.js"></script>
{% endif %}
<script>

  // Invite form.
  var inviteForm = new ffc.settings.InviteForm();
  inviteForm.decorate(document.getElementById('invite-form'));
  {% if user.google_refresh_token %}
  inviteForm.populateAutoComplete();
  {% endif %} 

  // Favourite film auto complete.
  var input = document.getElementById('ac');
  var ac = new ffc.suggest.AutoComplete(input, input.parentNode, 'favourite_film');

  // When you edit a form and don't change the answer, the answer field is not
  // populated by the auto complete - so do it manually.
  function getAnswer() {
    var form = document.getElementById('user-settings-form');
    if (!form['favourite_film']) {
      form['original-answer'].setAttribute('name', 'favourite_film');
    }
    return true;
  }

  // Focus the invite friends box
  document.getElementById('inviteEmail').focus();

</script>
{% endblock %}




