
h1 {
  margin-bottom: @baseLineHeight/2;
}

#title-bar {
  background: @grayDark;
  border-radius: 0;
  margin-bottom: 0;
  padding: 10px;
}

.navbar-brand {
  color: @white !important;
  float: none;
  font-size: 40px;
  line-height: 20px;
  display: block;
  text-align: center;
}

.navbar-brand:hover {
  color: @yellow;
}

#sign-in {
  color: @white;
  position: absolute;
  right: 20px;
  top: 20px;
}

#nav {
  border-radius: 0;
  border-width: 1px 0;
  text-align: center;
  position: relative;

  .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -5px;

    a {
      display: block;
      padding: 15px 30px;
    }
  }

  .btn-xs {
    position: absolute;
    right: 0;
    top: 0;
    margin: 13px 18px 0 0;
  }
}

.navbar.visible-xs {

  background: @grayDark;
  margin: 0;
  border: none;


  #sign-in {
    top: 0;
  }
}

/* remove responsive nav behaviour. */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}

@media (max-width:767px) {
  .navbar {
    margin-bottom: 0;
    min-height: 10px;
  }

  #title-bar {
    padding: 0 0 5px 0;
  }

  .navbar-brand {
    float: left;
    font-size: 25px;
    padding: 20px 0 0 0;
  }

   #sign-in {
     top: 13px !important;
   }

  #nav .navbar-nav a {
    font-size: 13px;
    padding: 10px 8px;
  }

  .btn-xs {
    position: static !important;
    float: right;
  }

}

.dropdown-menu {
  right: 0;
  left: inherit;
  padding: 0;
  position: absolute !important;

  li {
    background: #F8F8F8;
  }

  li a,
  .dropdown-header {
    padding: 8px 10px !important;

    .glyphicon {
      font-size: 13px;
      margin-right: 2px;
    }
  }

  .dropdown-header {
    text-align: center;
  }

  .divider {
    margin: 0;
  }
}

@media (max-width:430px) {
  .hide-xs {
    display: none;
  }
}