
h1 {
  margin-bottom: @baseLineHeight/2;
}

.navbar {
  background: @grayDark;
  border-radius: 0;
  padding: 10px;
}

.navbar-brand {
  color: @white;
  float: none;
  font-size: 30px;
  line-height: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

#sign-in {
  color: @white;
  position: absolute;
  right: 20px;
  top: 20px;
}