.leaderboard-users {

  td:first-child {
    width: 26px;
  }

}

.leaderboard-score,
.leaderboard-answered,
.leaderboard-average {
  width: 80px;
  text-align: center;
}

#leaderboard-container-week .leaderboard-answered,
#leaderboard-container-week .leaderboard-average {
  display: none;
}

.leaderboard-pagination { text-align: center; }
.leaderboard-pagination ul { list-style: none; }
.leaderboard-pagination li { display: inline; }

#leaderboard-page {

  .nav-tabs {
    margin: 20px 0;
  }

  .nav-tabs > li.active > a {
    background: @grayLighter;
    color: @grayDark;
  }

}
