
#login-page {
  background: #eee;

  h2 {
    text-align: center;
  }

  hr,
  #footer {
    display: none;
  }

  #sign-in {
    display: none !important;
  }
}

#login-buttons .login-button,
#login-buttons .col-md-4  {

  .btn-primary {
    #gradient > .vertical(#2b4582, #243d79);
  }

  .btn-primary:hover {
    background: #2b4582;
    .transition(background-position .1s linear);
  }

  a {
    display: block;
    font-weight: bold;
    margin: 10px auto 20px auto;
    width: 200px;
  }

  img {
    margin: -2px 2px 0 0;
  }
}

#login-page #login-buttons {

  h4 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  p {
    text-align: center;
  }

}

#register-page #login-buttons {
  .col-md-4 {
    margin: 5px 0 20px;
  }

  .col-md-4 button {
    width: 128px;
  }
}

#sign-in {
  .clearfix();
}

#sign-in span {
  float: left;
  line-height: 15px;
  margin-right: 8px;
  text-align: right;
}

#sign-in img {
  float: right;
}

.after-form {
  clear: both;
}