@import '../twitter-bootstrap/less/bootstrap.less';
@import 'vars.less';
@import 'header.less';
@import 'question.less';
@import 'score.less';
@import 'addquestion.less';
@import 'login.less';
@import 'home.less';
@import 'leaderboard.less';
@import 'questions.less';
@import 'invite.less';

.custom-font { font-family: 'Montserrat', sans-serif; }
.custom-font-header { font-family: 'Codystar', cursive; }
.custom-font-script { font-family: 'Cookie', cursive; }

body { background: @grayLighter; }

hr {
  border-top-color: @gray;
  border-bottom-width: 0;
}

.container {
  max-width: 970px;
}

.form-control {
  color: #888;
}

.signoff {
  border: 0;
  margin-top: 20px;
  padding-left: 0;

  small:before {
  content: '';
  }

  p {
    margin-bottom: 5px;
  }
}

#how-page {
  blockquote {
    border-color: #e0e0e0;
    margin-bottom: 10px;
  }
}

// TODO (adamjmcgrath) Move these into their own page styles.
.glyphicon-ok {
  color: @green;
  font-size: 19px;
  margin-right: 18px;
}

#footer, hr {
  clear: both;
}

#settings-page {

  .ac-row {
    padding: 0 10px;

    label {
      font-weight: normal;
      span {
        margin-left: 5px;
      }
    }
  }

  .help-block {
    margin-bottom: 0;
    color: inherit;
  }

  .num-invites {
    font-weight: bold;
  }

}

#profile-page .col-md-9 .well {
  padding: 9px 19px;
}

#archive-page {

  .intro {
    margin-bottom: 20px;
  }

 .well {
    padding-bottom: 0;
    padding-top: 10px;

    h4 {
      text-align: center;
      padding-bottom: 5px;
    }

    .btn {
      display: block;
      margin-top: 10px;
    }
  }

}
