@import '../lib/twitter/less/bootstrap.less';
@import 'vars.less';
@import 'header.less';
@import 'question.less';
@import 'score.less';
@import 'addquestion.less';
@import 'login.less';
@import 'home.less';
@import 'leaderboard.less';
@import 'questions.less';
@import 'dialog.less';
@import 'league.less';
@import 'settings.less';
@import 'archive.less';

.custom-font { font-family: 'Montserrat', sans-serif; }
.custom-font-header { font-family: 'Codystar', cursive; }
.custom-font-script { font-family: 'Cookie', cursive; }

body { background: @grayLighter; }

hr {
  border-top-color: @gray;
  border-bottom-width: 0;
}

.container {
  max-width: 970px;
}

.form-control {
  color: #888;
}

.new {
  color: @errorText;
  font-weight: bold;
  font-size: 70%;
}

.signoff {
  border: 0;
  margin-top: 20px;
  padding-left: 0;

  small:before {
  content: '';
  }

  p {
    margin-bottom: 5px;
  }
}

#how-page {
  blockquote {
    border-color: #e0e0e0;
    margin-bottom: 10px;
  }
}

// TODO (adamjmcgrath) Move these into their own page styles.
.glyphicon-ok {
  color: @green;
  font-size: 19px;
  margin-right: 18px;
}

#footer, hr {
  clear: both;
}

#footer {
  margin-bottom: 20px;
}

#profile-page .col-md-9 .well {
  padding: 9px 19px;
}


#follow-twitter {
  background: url('/static/img/follow-twitter.png') no-repeat;
  padding-left: 26px;
  color: #00ACEA;
}

.high-scores-score {
  clear: left;
  margin-top: 0;
  padding-top: 20px;
}

.high-score-user {
  position: relative;
  display: block;
  float: left;
  margin-right: 7px;

  span {
    position: absolute;
    background-color: @red;
    width: 10px;
    height: 10px;
    display: block;
    bottom: -5px;
    right: -5px;
    font-size: 8px;
    color: @white;
    text-align: center;
    border-radius: 2px;
  }
}