

#clues {
  .clearfix();

  .thumbnail {
    margin-bottom: 18px;
  }

  .answer-form {
    position: relative;

    .form-inline .btn {
      margin-left: 10px;
    }

  }

  .ac-highlighted {
    font-weight: bold;
  }

  .clue p {
    margin-bottom: 0;
  }

  .alert-success {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
  }

  @-webkit-keyframes pulsate {
    0% {  -webkit-box-shadow: 0px 0px 0px @green; border:1px #d6e9c6 inset}
    50% {  -webkit-box-shadow: 0px 0px 20px @green; border:1px #d6e9c6 inset}
    100%{  -webkit-box-shadow: 0px 0px 0px @green; border:1px #d6e9c6 inset}
  }

}

.suggestions {
  margin-top: @gridGutterWidth / 2;

  label.odd {
    margin-left: @gridGutterWidth /2;
  }

  label, p {
    cursor: pointer;
    border-radius: 5px;
    background: @grayLighter;
    margin-bottom: 0;
    line-height: @baseLineHeight;
    float: left;
    overflow: hidden;
    padding: 15px 0;
    text-overflow: ellipsis;
    width: 323px;
    white-space: nowrap;
  }

  label:hover {
    background: @grayDark;
    color: @white;
  }

  input[type="radio"] {
    margin-left: 10px;
    margin-right: @gridGutterWidth / 2;
  }

  p {
    border-top: none;
    font-style: italic;
    text-align: center;
    width: 100%;
  }

  span {
    color: @grayLight;
    margin-left: 5px;
    margin-right: @gridGutterWidth * 0.75;
  }

}

.guess-buttons {
  .clearfix();
  clear: both;
  padding-top: 15px;

  a {
    float: right;
    margin-left: @gridGutterWidth / 2;
  }

  .disabled {
    .opacity(20);
  }

}

#btn-search,
#btn-clear {
  display: none;
}