#question-page {
  background: @grayLighter;
}

.join-alert {
  line-height: 30px;
  margin-bottom: 0;
}

#clues {
  .clearfix();

  .thumbnail {
    margin-bottom: 18px;
  }

  .answer-form {
    position: relative;

    .input-group-addon {
      width: 1%;
    }

    .form-inline .btn {
      margin-left: 10px;
    }

    .loading {
      display: none;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.9);
      background-image: url(/static/img/ajax-loader.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    &.is-loading .loading {
      display: block;
    }

  }

  .ac-highlighted {
    font-weight: bold;
  }

  .clue p {
    margin-bottom: 0;
  }

  .clue h4 .pull-right {
    font-weight: normal;
    font-size: 14px;
  }

  .alert-success {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
  }

  @-webkit-keyframes pulsate {
    0% {  -webkit-box-shadow: 0px 0px 0px @green; border:1px #d6e9c6 inset}
    50% {  -webkit-box-shadow: 0px 0px 20px @green; border:1px #d6e9c6 inset}
    100%{  -webkit-box-shadow: 0px 0px 0px @green; border:1px #d6e9c6 inset}
  }

  .packshot {
    margin-right: 10px;
  }

}

.suggestions {
  margin-top: @gridGutterWidth / 2;

  label.odd {
    margin-left: @gridGutterWidth /2;
  }

  label, p {
    cursor: pointer;
    border-radius: 5px;
    background: @grayLighter;
    margin-bottom: 0;
    line-height: @baseLineHeight;
    float: left;
    overflow: hidden;
    padding: 15px 0;
    text-overflow: ellipsis;
    width: 323px;
    white-space: nowrap;
  }

  label:hover {
    background: @grayDark;
    color: @white;
  }

  input[type="radio"] {
    margin-left: 10px;
    margin-right: @gridGutterWidth / 2;
  }

  p {
    border-top: none;
    font-style: italic;
    text-align: center;
    width: 100%;
  }

  span {
    color: @grayLight;
    margin-left: 5px;
    margin-right: @gridGutterWidth * 0.75;
  }

}

.guess-buttons {
  .clearfix();
  clear: both;
  padding-top: 15px;

  a {
    float: right;
    margin-left: @gridGutterWidth / 2;
  }

  .disabled {
    .opacity(20);
  }

}

#btn-search,
#btn-clear {
  display: none;
}

#live-scores {
  margin-bottom: 100px;
  padding: 0 10px;

  div {
    white-space: nowrap;
    font-size: 13px;
    margin-bottom: 10px;

    a:hover {
      text-decoration: none;
    }

    img {
      position: relative;
      top: -2px;
      margin-right: 2px;
    }
  }
}


@media (max-width:730px) {

  .suggestions {

    label {
      margin-top: 5px;
    }

    label.odd {
      margin-left: 0;
    }

    label, p {
      overflow: hidden;
      padding: 10px 0;
      width: 100%;
      white-space: nowrap;
    }

  }
}

@media (max-width:767px) {

 .join-alert {
   margin-top: 10px;
 }

}

.mirror, .mirror-page .answer-alert p {
  display: none;
}
.mirror-page .answer-alert .mirror {
  display: block;
}