{% extends "templates/base.tpl" %}

{% block page_id %}question-page{% endblock page_id %}

{% block main %}
<div id="title">
  <h3>Can you name this film?</h3>
</div>
<div id="screenshot">
  <img src="{{question.screenshot_url()}}">
</div>
<div id="answers">
  <form action="">
    <div class="guess grids">
      <div class="input grid-5
                 {% if answer.guess_0 and not answer.guess_0.correct %}
                  incorrect
                 {% endif %}">
        <p>
          <input type="text" name="guess-1" id="guess-1"
                 {% if answer.guess_0 %}
                 value="{{answer.guess_0.film.title}}"
                 disabled="disabled"
                 {% endif %}>
        </p>
      </div>
      <div class="button grid-2">
        <p>
          <button{% if answer.guess_0 %} disabled="disabled"{% endif %}>
            {% if answer.guess_0 %}
              {% if answer.guess_0.correct %}
              <span class="correct">Correct</span>
              {% else %}
              <span class="incorrect">Incorrect</span>
              {% endif %}
            {% else %}
              <span class="submit">Submit</span>
            {% endif %}
          </button>
        </p>
      </div>
    </div>
    {% if answer.guess_0 and not answer.guess_0.correct %}
    <div class="clue" id="clue-1">
      <p>
        <b>Clue 1:</b> {{question.clue_1}}
      </p>
    </div>
    <div class="guess grids incorrect">
      <div class="input grid-5
                 {% if answer.guess_1 and not answer.guess_1.correct %}
                  incorrect
                 {% endif %}">
        <p>
          <input type="text" name="guess-2" id="guess-2"
                 {% if answer.guess_1 %}
                 value="{{answer.guess_1.film.title}}"
                 disabled="disabled"
                 {% endif %}>
        </p>
      </div>
      <div class="button grid-2">
        <p>
          <button{% if answer.guess_1 %} disabled="disabled"{% endif %}>
            {% if answer.guess_1 %}
              {% if answer.guess_1.correct %}
              <span class="correct">Correct</span>
              {% else %}
              <span class="incorrect">Incorrect</span>
              {% endif %}
            {% else %}
              <span class="submit">Submit</span>
            {% endif %}
          </button>
        </p>
      </div>
    </div>
    {% endif %}

    {% if answer.guess_1 and not answer.guess_1.correct %}
    <div class="clue" id="clue-2">
      <p>
        <b>Clue 2:</b> {{question.clue_2}}
      </p>
    </div>
    <div class="guess grids incorrect">
      <div class="input grid-5
                 {% if answer.guess_2 and not answer.guess_2.correct %}
                  incorrect
                 {% endif %}">
        <p>
          <input type="text" name="guess-3" id="guess-3"
                 {% if answer.guess_2 %}
                 value="{{answer.guess_2.film.title}}"
                 disabled="disabled"
                 {% endif %}>
        </p>
      </div>
      <div class="button grid-2">
        <p>
          <button{% if answer.guess_2 %} disabled="disabled"{% endif %}>
            {% if answer.guess_2 %}
              {% if answer.guess_2.correct %}
              <span class="correct">Correct</span>
              {% else %}
              <span class="incorrect">Incorrect</span>
              {% endif %}
            {% else %}
              <span class="submit">Submit</span>
            {% endif %}
          </button>
        </p>
      </div>
    </div>
    {% endif %}
    {% if answer.score != None %}
    <div id="answer">
      <p>
        <b>You scored {{answer.score}}</b>
        The answer is of course {{question.film.title}}.
      </p>
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}

{% block body_base %}
{% include "templates/inc/questionjs.tpl" %}
<script>
  var ac = new ffc.AutoComplete(document.getElementById('guess-3'));
</script>
{% endblock %}