{% extends "templates/jinja/admin/base.tpl" %}

{% block page_id %}add-question-page{% endblock page_id %}

{% block main %}
{{super()}}
<h2>Upload Question</h2>
<form id="add-question" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
  <fieldset>
    <div class="control-group{% if form.answer.errors %} error{% endif %}">
      <label class="control-label" for="ac">Film</label>
      <div class="controls">
        <input id="ac" class="input-xlarge focused" type="text" value="{{question and question.answer and question.answer.title or ''}}" autocomplete="off">
        <span class="help-inline">{{form.answer.errors[0]}}</span>
      </div>
    </div>
  </fieldset>
  {% for clue_form in form.clues %}
  <h3>Clue {{loop.index}}:</h3>
  <fieldset>
    {% for clue_field in clue_form %}
      <div class="control-group{% if clue_field.errors %} error{% endif %}">
        <label class="control-label" for="{{clue_field.name}}">{{clue_field.name}}</label>
        <div class="controls">
          {{clue_field(class_='input-xlarge')}}
          <span class="help-inline">{{clue_field.errors[0]}}</span>
        </div>
      </div>
    {% endfor %}
  </fieldset>
  {% endfor %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>

{% endblock %}

{% block body_base %}
{% include "templates/jinja/inc/questionjs.tpl" %}
<script>
  var input = document.getElementById('ac');
  var ac = new ffc.suggest.AutoComplete(ac, input.parentNode);
</script>
{% endblock %}
