{% extends "templates/jinja/admin/base.tpl" %}

{% block page_id %}add-question-page{% endblock page_id %}

{% block main %}
{{super()}}
<h2>Upload Question</h2>
<form id="add-question" class="form-horizontal" action="" method="post" enctype="multipart/form-data" onsubmit="return getAnswer()">
  <fieldset>
    <div class="control-group{% if form.answer.errors %} error{% endif %}">
      <label class="control-label" for="ac">Film</label>
      <div class="controls">
        <input id="ac" class="input-lg form-control focused" type="text" value="{{question and question.answer and question.answer.get().title or ''}}" autocomplete="off">
        <span class="help-inline">{{form.answer.errors[0]}}</span>
      </div>
      <input type="hidden" id="original-answer" name="original-answer" value="{{ question and question.answer and question.answer.id() }}">
    </div>
  </fieldset>
  <h3>Season:</h3>
  <p>{{ form.season(class_='form-control') }}</p>
  <h3>Week:</h3>
  <p>{{ form.week(class_='form-control') }}</p>
  {% for clue_form in form.clues %}
  <h3>Clue {{loop.index}}:</h3>
  {% set clueloop = loop %}
  <fieldset>
    {% for clue_field in clue_form %}
      <div class="control-group{% if clue_field.errors %} error{% endif %}">
        <label class="control-label" for="{{clue_field.name}}">{{clue_field.name}}</label>
        <div class="controls">
          {# Target the screenshot field (the second clue field of the first clue) #}
          {% if not clueloop.index0 and loop.index0 and question.clue_image_url() %}
          <p><img src="{{ question.clue_image_url() }}=w100" width="100"></p>
          {% endif %} 
          {{clue_field(class_='form-control')}}
          <span class="help-inline">{{clue_field.errors[0]}}</span>
        </div>
      </div>
    {% endfor %}
  </fieldset>
  {% endfor %}
  <h3>Email Message:</h3>
  <p>{{ form.email_msg(class_='form-control') }}</p>
  <h3>Packshot:</h3>
  {% if question.packshot_url() %}
  <p><img src="{{ question.packshot_url() }}=h100" height="100"></p>
  {% endif %}
  <p>{{ form.packshot(class_='form-control') }}</p>
  <h3>IMDB Link:</h3>
  <p>{{ form.imdb_url(class_='form-control') }}</p>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>

{% endblock %}

{% block body_base %}
{% include "templates/jinja/inc/questionjs.tpl" %}
<script>
  var input = document.getElementById('ac');
  var ac = new ffc.suggest.AutoComplete(input, input.parentNode, 'answer');

  // When you edit a form and don't change the answer, the answer field is not
  // populated by the auto complete - so do it manually.
  function getAnswer(e) {
    var form = document.getElementById('add-question');
    if (!form.answer) {
      form['original-answer'].setAttribute('name', 'answer');
    }
    return true;
  }
</script>
{% endblock %}
