{% extends "templates/jinja/admin/base.tpl" %}

{% block page_id %}admin-home-page{% endblock page_id %}

{% block main %}
<h2>Admin</h2>
<h3>Manage Questions</h3>
<ul>
  <li><a href="{{ uri_for('admin-add-question') }}">Add question</a></li>
  <li><a href="{{ uri_for('admin-questions') }}">Manage questions</a></li>
</ul>
<h3>Manage Films</h3>
<ul>
  <li><a href="{{ uri_for('admin-add-films') }}">Add films</a></li>
  <li><a href="#" onclick="return doIndexFilms()">Index films</a></li>
</ul>
<form action="{{ uri_for('admin-index-films') }}" method="post"
      enctype="multipart/form-data" id="uploadform"></form>
<script>
  function doIndexFilms() {
    if (confirm('You sure? This costs about £10.')) {
      document.getElementById('uploadform').submit();
    }
    return false;
  }
</script>
{% endblock %}
