{% extends "templates/jinja/admin/base.tpl" %}

{% block page_id %}questions-page{% endblock page_id %}

{% block main %}
{{super()}}
<h2>Questions</h2>

<ul id="manage-questions-tabs" class="nav nav-tabs">
  {% for s in range(1, current_season + 1) %}
  <li{% if s == season %} class="active"{% endif %}>
    <a href="?season={{s}}">
      <span class="season-prefix">Season</span> {{s}}
    </a>
  </li>
  {% endfor %}
</ul>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Season</th>
    <th>Week</th>
    <th>Pose Date</th>
    <th>Current</th>
    <th>Answered</th>
    <th>Edit</th>
    <th>View</th>
    <th>Email</th>
  </tr>
  {% for q in questions %}
  <tr{% if last_week == q.week and q.season and last_season == q.season.id() %} class="danger"{% endif %}>
    <td><img src="{{ q.packshot_url(40) }}"> {{q.answer_title}}</td>
    <td>{{q.season and q.season.id()}}</td>
    <td>{{ q.week }}</td>
    <td>{{ q.posed and q.posed.strftime('%d/%m/%Y') or '' }}</td>
    <td>{% if q.is_current %}<span class="glyphicon glyphicon-check"></span>{% endif %} </td>
    <td>{{ q.answered }}</td>
    <td><a href="{{ uri_for('admin-edit-question', key=q.key.id()) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
    <td><a href="{{ uri_for('question', None, q.key.id()) }}"><span class="glyphicon glyphicon-film"></span></a></td>
    <td><a href="{{ uri_for('admin-posequestiontest', key=q.key.id()) }}"><span class="glyphicon glyphicon-envelope"></span></a></td>
  </tr>
  {% set last_week = q.week %}
  {% set last_season = q.season and q.season.id() %}
  {% endfor %}
</table>
 <p><span class="glyphicon glyphicon-plus"></span><a href="{{ uri_for('admin-add-question') }}"> Add another question</a></p>
{% endblock %}

