{% extends "templates/jinja/admin/base.tpl" %}

{% block page_id %}questions-page{% endblock page_id %}

{% block main %}
{{super()}}
<h2>Questions</h2>

  <ul class="nav nav-tabs navbar-collapse navbar-ex1-collapse">
    <li{% if not posed and not current %} class="active"{% endif %}><a href="{{ uri_for('admin-questions') }}">Unposed</a></li>
    <li{% if posed %} class="active"{% endif %}><a href="{{ uri_for('admin-questions') }}?posed=1">Posed</a></li>
    <li class="pull-right{% if current %} active{% endif %}"><a href="{{ uri_for('admin-questions') }}?current=1">Current Question</a></li>
  </ul>

<table class="table">
  <tr>
    <th>title</th>
    {% if posed %}
      <th>Season</th>
      <th>Week</th>
      <th>Answered</th>
    {% else %}
      <th>clue 1</th>
      <th>clue 2</th>
      <th>clue 3</th>
      <th>clue 4</th>
    {% endif %}
    <th>edit</th>
    <th>view</th>
    {% if not posed and not current %}<th>pose</th>{% endif %}
  </tr>
  {% for q in questions %}
  <tr>
    <td>{{q.answer.get().title}}</td>
    {% if posed %}
      <td>{{ q.season.id() }}</td>
      <td>{{ q.week }}</td>
      <td>{{ q.answered }}</td>
    {% else %}
      {% for clue in q.clues %}
        <td>
        {% if clue.get().text %}
          {{clue.get().text}}
        {% else %}
          <img src="{{clue.get().image_url(80)}}">
        {% endif %}
        </td>
      {% endfor %}
    {% endif %}
    <td><a href="{{ uri_for('admin-edit-question', key=q.key.id()) }}">edit</a></td>
    <td><a href="{{ uri_for('question', None, q.key.id()) }}">view</a></td>
    {% if not posed and not current %}<td><a href="{{ uri_for('admin-posequestion', key=q.key.id()) }}?debug=true">email</a></td>{% endif %}
  </tr>
  {% endfor %}
</table>
 <p><span class="glyphicon glyphicon-plus"></span><a href="{{ uri_for('admin-add-question') }}"> Add another question</a></p>
{% endblock %}

