{% extends "templates/jinja/admin/base.tpl" %}

{% block page_id %}send-invites-page{% endblock page_id %}

{% block main %}
{{super()}}
{% if sent_to %}
<div class="alert alert-success">Your invite has been sent to <b>{{ sent_to }}</b></div>
{% endif %} 
<form id="add-question" action="" method="post"{% if form.errors.invite_email %}  class="has-error"{% endif %}>
  <div class="form-group">
    <label for="email">Email address</label>
    {{ form.invite_email(class_='form-control', id='email', placeholder='Enter email') }}
    {% if form.errors.invite_email %}
      <small class="help-block">Must be a valid email.</small>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
</form>
{% endblock %}
